ExcelQRCodeAddin/Data/ALLPrintQrCodeData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mycompany.com/ExcelQRCodeAddin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="printQrCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="qrCode">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itemCode" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false" />
              <xs:element name="itemName" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false" />
              <xs:element name="SN" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true" />
              <xs:element name="suppplierCode" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>